{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Bienvenida/o</h1>
    <p class="lead">Accedé rápido a las secciones de MI PANEL</p>
    
    <div class="mt-4">
       
        <a href="{% url 'oficina:lista' %}" class="btn btn-primary me-2">Lista Oficinas</a>
        <a href="{% url 'persona:lista' %}" class="btn btn-secondary me-2">Lista Personas</a>
    </div>

    <div class="mt-4">
        
        <a href="{% url 'oficina:crear' %}" class="btn btn-primary me-2">Crear Oficina</a>
        <a href="{% url 'persona:crear' %}" class="btn btn-secondary">Crear Persona</a>
    </div>

    <div class="mt-4">
    
        <a href="{% url 'oficina:detalle' 1 %}" class="btn btn-primary me-2">Ver Detalle Oficina</a>
        <a href="{% url 'persona:detalle' 1 %}" class="btn btn-secondary">Ver Detalle Persona</a>
    </div>
</div>
{% endblock %}
